NEXT_PUBLIC_SITE_URL=https://galerie.mots-damour.fr

SUPABASE_URL=votre_url_supabase
SUPABASE_SERVICE_ROLE_KEY=votre_cle_service_role

PCLOUD_AUTH_TOKEN=votre_token_pcloud

ADMIN_PASSWORD=votre_mot_de_passe_admin
JWT_SECRET=votre_secret_jwt

SYNC_SECRET=votre_secret

GMAIL_USER=motsdamourcom@gmail.com
GMAIL_APP_PASSWORD=votre_app_password_gmail
